*{
    margin: 0;
    padding: 0;
}
/* :root{
    --natural-color-1:hsl(0, 0%, 98%);
    --natural-color-2:hsl(0, 0%, 41%);
    --natural-color-3:hsl(0, 0%, 8%);
    --text-size:18px;
    --family:"Epilogue";
    --fw1: 500;
    --fw2: 700;
    --desktop:1440px;
    --mobile:375px;
}

.testing{
    width: 200px;
    height: 200px;
    background-color: var(--natural-color-1);
}

h1{
    color: var(--natural-color-2);
    background-color: #ffeedd;
    border-color: hsl(8,60%,40%);   
    font-size: var(--text-size);
    font-family: var(--family);
    font-weight: var(--fw2);
} */


.first-section{
    height: 250px;
    width: 300px;
    background-color: rgb(45,67,23);
}
.second-section{
    height: 500px;
    width: 250px;
    background-color:rgb(55,0,30);
    color: hsl(6, 94%, 45%);
    border-color: #fff;
}
#section_three{
    height: 700px;
    width: 600px;
    border: 2px solid blue;
    /* background: url("./images/image-hero-desktop.png") no-repeat; */
    background-image: url("./images/icon-planning.svg");
    /* background-color: aqua;
    background-blend-mode: hue; */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    background-repeat: no-repeat;
    /* background-attachment: local; */
    /* background-position-y: center; */
    /* background-origin: ; */
    background-clip:padding-box;
}
#section_four{
    height: 500px;
    width: 500px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 45px;
    border:20px solid red ;
    padding: 20px;
}